@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Fira Sans", sans-serif;
 */
 .work-sans-normal {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
    display=flex;
 }
    .first-div{

        display: flex  ;
        justify-content: space-between ;
        width: Fixed (1,600px)px;
height: 100px;
padding: 24px 160px 24px 160px;
gap: 0px;
justify: space-between;
opacity: 0px;

    }
    
    .bd-font{

       
        font-size: 32px;
        font-weight: 700;
        line-height: 38.4px;
        text-align: left;
        text-decoration-skip-ink: none;
        

    }
    
 
    main section{
        margin top:130px;
        margin bottom:130px;
    }
}
  .first-div {
    display: flex;
    width: 1600px;
    height: 100px;
    padding: 24px 160px;
    gap: 0px;
    justify-content: space-between;
    opacity: 1; 

}

.btn 
{
    width: 116px;
    height:52px;
    padding: 15px 30px 15px 30px;
    
    font-weight: 600px;
    
    gap: 48px; 
    border-radius: 8px ;
    border: 1px solid #006A50;
    opacity: 0px;
 
    color: #006A50;
    border-color: #006A50;
    font-family:fira sans;
Font weight: 600px;
Font size: 18px;
Row height: 22px;
Letter spacing: 0%;
Align: left;}




/*piller-section-style*/
.piller-container
{
    display:flex;
    gap:24px;
    margin:0px 80px 160px;
    
}
.piller{
    padding:112px 24px 24px 24px;
box-shadow: 0px 6px 50px 0px rgba(14, 14, 14, 0.15);
border-radius: 8px;

}
.pillar-of-bangladesh
{
   
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    font color:rgba(14, 14, 14, 1);
margin:0px 85px;
}
#hero{
    display:flex;
    background-color: #C6E4D6;
    width: Fixed (1,280px)px;
height: 500px;
padding: 80px 100px 80px 100px;
gap: 64px;
border-radius: 24px 0px 0px 0px;
opacity: 0px;
justify-content: space-between ;
margin: 8px 80px 160px;
border-radius: 24px;
margin-bottom: 90px;

}
.ban{
   

width: 622px;
height: 0px;


gap: 2px;



color: rgba(14, 14, 14, 0.5);

font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;



}
.idea-bd{

    
font-size: 56px;
font-weight: 700;
line-height: 67.2px;
text-align: left;


}
.explore{

    width: 270px;
height: 56px;
padding: 17px 34px 17px 34px;
gap: 48px;
border-radius: 8px 0px 0px 0px;
opacity: 0px;
background-color:#006A50;
color:#FFFFFF;
border-radius: 8px;
border:none;
}

.the-vission{
display:flex;
gap:24px;
justify-content: space-between ;
margin:17px 85px;


}
.vission{

   
    box-shadow: 0px 6px 50px 0px rgba(14, 14, 14, 0.15);
    width: Fill 410.67px;
    height: Fill 325px;
    padding: 32px;
    gap: 0px;
    border-radius: 16px;
    justify: space-between;
    opacity: 0px;
    


}
.pra {

    margin:0px 85px;
    


}
.future{
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: left;
margin:5px 85px;
margin-top: -90px;

}
.bx-1 {
background-color: #5490F533;
border: 1px;
border-color:#5490F5;
}
.bx-2{
border-color: #09A15C;
background-color: #C6E4D6;

}
.bx-3{
border-color:#FFC239 ;
background-color: #F7EBCF;

}

.bt-1 {
    background-color: #5490F5; 
    width: 122px;
height: 41px;
padding: 11px 20px 11px 20px;
gap: 48px;
        border-radius: 8px;
        opacity: 0px;
        border: none;
}


    .bt-2 {
        background-color: #09A15C;
        width: 122px;
        height: 41px;
        padding: 11px 20px 11px 20px;
        gap: 48px;
        border-radius: 8px;
        opacity: 0px;
        border: none;
       
    }
    .bt-3 {
        background-color:#FFC239;
        width: 122px;
        height: 41px;
        padding: 11px 20px 11px 20px;
        gap: 48px;
        border-radius: 8px;
        opacity: 0px;
        border: none;
        
    }
   
        .dr{

gap: 24;
padding: 48px 24px 48px 24px;

flex: none;
order: 0;
flex-grow: 1;
margin: 5px 24px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
margin:17px 85px;
background-image: url(../assets/quote-bg.png);
background-repeat: no-repeat;

background-position: 18px 34px;

background-image left: 0px;
background-image Fillet radius: 0px;


    }
    .speech{
       
        Font weight: 400px;
        Font size: 16px;
        Row height: 24px;
        Letter spacing: 0%;
        Align: left;
padding: 0px 2px;
color:rgba(14, 14, 14, 0.8);

}
.name{
font-size: 18px;
font-weight: 600;
line-height: 24px;
text-align: left;
margin-bottom:2px ;

}
.about{
    
color: #0E0E0E99 60%;
margin-top: 0px;
font-size:16px;

}
  
.news{
    margin: 0px 85px;
}
.no-1{
display: flex   ;
position: static;
width: 1340px;
height: 402px;
display: flex;
flex-direction: row;
justify-content:;
align-items: center;
gap: 5px;
padding: 48px;
margin:24px 0px;

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


background-color: rgb(255, 255, 255);
border-radius: 24px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);



}
.tulip{
position: static;
width: 408px;
height: 306px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
border-radius: 24px;

}
.details{
    padding:0px 136px 25px 48px;


}
.headline1{
margin: 12px 0px;
color: rgba(14, 14, 14, 0.8);
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;


Font weight: 700px;
Font size: 32px;
Row height: 38px;
Letter spacing: 0%;
Align:left;

}
.read-more {
    background-color: rgb(0, 106, 80); 
    width: 139px;
    height: 48px;
    padding: 11px 20px;
    gap: 48px;
    border-radius: 8px;
    opacity: 1;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: white;
}
.sea{
    position: static;
    width: 408px;

    height: 306px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 12px 0px;
    border-radius: 24px;

    }
    .architect{
         position: static;
            width: 408px;
            height: 306px;
            flex: none;
            order: 0;
            flex-grow: 0;
            margin: 0px 10px;
            border-radius: 24px;
            direction:rtl;
    }
    .media{
        margin-bottom:1px ;

    }
    .news-date{
    
position: static;
width: 400px;
height: auto;

padding: 0px;


flex: none;
order: 0;
flex-grow: 0;
margin: 0px 12px;
color: rgba(14, 14, 14, 0.7);
font-size: 16px;

line-height: 24px;
text-align: left;}

.form{
    
    margin: 45px 85px;
    background-color: rgb(255, 255, 255);
border-radius: 24px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
Width: 1340px;
Height: 465px;
}
.opinion-table{
padding:0px 55px;

}
.headline{
    margin-bottom:2rem;
    margin-left: 1rem;
}
 
        .thead{
            width: 1216px;
            height: 72px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap: 24;
            padding: 24px;
            margin: -1px 0px;
            box-sizing: border-box;
            border: 1px solid rgba(14, 14, 14, 0.15);
            background: rgb(198, 228, 214);
            color: rgb(14, 14, 14);
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
        }
        .trow{
            width: 1216px;
            height: 95px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items:center;
            gap: 24;
            padding: 24px;
            margin: -1px 0px;
            box-sizing: border-box;
            border: 1px solid rgba(14, 14, 14, 0.15);
            color: rgb(14, 14, 14);
            font-size: 16px;
            font-weight: 600;
            line-height: 19px;
        }
        .option-data{
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 24;
        padding: 24px;
        margin: 0px -25px;
        box-sizing: border-box;
        border: 1px solid rgba(14, 14, 14, 0.15);
        background: rgba(255, 255, 255, 0.1);
        }
        .select-option{
            align-items: center;
            color: rgb(14, 14, 14);
            font-size: 16px;
            font-weight: 500;
            text-align:center;
            background-color: rgb(198, 228, 214);
            padding: 10px 14px 10px 14px;
            border-radius: 5px;
        }
       
        .opinion-header{
            font-family:"Fira Sans", serif;
            font-weight: bold;
            font-size: 40px;
        }
        .container {
            width: 100%;
        }
        .donation {
            text-align: center;
            padding-top: 80px;
            padding-bottom: 50px;
          }
          .donation-h2 {
            color: rgba(14, 14, 14, 1);
            font-size: 40px;
            font-weight: 700;
          }
          .donation-p {
            color: rgba(14, 14, 14, 0.7);
            font-size: 16px;
            font-weight: 400;
          }
          
          .amount-btn {
            height: 107px;
            width: 194px;
            color: rgba(14, 14, 14, 0.8);
            font-size: 40px;
            border: 1px solid rgba(14, 14, 14, 0.15);
            border-radius: 16px;
            background-color: #ffffff;
            margin: 18px 0px 50px 32px;
          }
          
          .amount-btn:hover {
            background-color: #c6e4d6;
            cursor: pointer;
          }
          .other-ammount {
            height: 50px;
            width: 820px;
            text-align: center;
            border: none;
            color: rgba(14, 14, 14, 0.3);
            font-size: 20px;
            font-weight: 400;
            margin: -15px -30px 26px 0px;
            box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
          }
          
          .donation-btn {
            height: 56px;
            width: 151px;
            border: 1px solid rgba(14, 14, 14, 0.1);
            background-color: #006a50;
            border-radius: 8px;
            color: #ffffff;
            font-size: 18px;
            font-weight: 600;
          }
          
          .newsletter {
            height: 350px;
            width: 1340px;
            text-align: center;
            background-color: rgba(198, 228, 214, 1);
            margin: 0px 160px 85px 85px;
            border: none;
            border-radius: 24px;
          }
          .newsletter-title {
            font-size: 40px;
            font-weight: 520;
            color: rgba(14, 14, 14, 1);
            margin: 0px 0px 0px 0px;
            padding: 65px 0px 0px 0px;
          }
          .newsp
           {
            color: rgba(14, 14, 14, 0.7);
            font-size: 16px;
            font-weight: 400;
            margin: 30px 0px 30px 0px;
          }
          .subinput{
              padding: 20px 200px;
          border: none;
          text-align: left;
          border-radius: 10px;}
          
          .btn2{
              padding: 20px 20px;
              background-color: #006A50;
              color:white;
              border-radius: 8px;
          }
          
          
          #lheader{
              color: rgb(14, 14, 14);
          font-family: Fira Sans;
          font-size: 32px;
          font-weight: 700;
          line-height: 38px;
          letter-spacing: 0%;
          text-align: left;
          }
          .links{
              display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          gap: 16;
          padding: 10px;
          }
          .ldiv{
              display: flex;
              flex-direction: row;
              gap: 23;
          padding: 10px;
          margin: 32px 0px;
          }
        

